.App {
  display: flex;
}
.outer {
  display: block;
}

.plot{
  width: 800px;
  height: 780px;
  border: solid;
  border-width: thin;
  margin: 5px;
  padding: 5px;
  float:left;
}
.slider{
  width: 100px;
}
.footer {
  font-size: small;
  margin: auto;
  margin-top:10px;
  width: fit-content;
}